[Unit]
Description=Run Walter thermostat check every hour

[Timer]
OnBootSec=1min
OnUnitActiveSec=1h
AccuracySec=1min

[Install]
WantedBy=timers.target
